apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}-svc
  labels:
    {{- include "webapp-color.labels" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    protocol: TCP
    targetPort: {{ .Values.service.targetPort }}
    {{- if eq .Values.service.type "NodePort" }}
    nodePort: {{ .Values.service.nodePort }}
    {{- end }}
  selector:
    app: {{ .Values.name }}